* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: sans-serif;
}

::-webkit-scrollbar {
     display: none;
}

.bg-auth-img {
     background: url(./assets/Potage.webp) no-repeat fixed center;
}

.bg-auth-img1 {
     background: url(./assets/Potage1.jpg) no-repeat fixed center;
}

.bg-blur {
     backdrop-filter: blur(120px);
     filter: blur(20%);
}
